[sect_basic]
keys=url,title,author,keywords,description,author_email,github_fork_link
url=http://www.your-domain-name.com
title=IoVision
author=Your Name
keywords=IoVision,Caijun Sun,Machine Learning,Social Media Mining,Math,Algorithms,Programming
description=I am Caijun Sun and this is my blog, IoVision. All the things here are about Machine Learning, Social Media Mining, Math, Algorithms and my Daily Life.
author_email=your email
template_name=default
github_fork_link=https://github.com/sunnycomes/IoVision

[sect_3rd_party_account]
keys=disqus_shortname,github_pages_repo,google_analytics_id,baidu_analytics_id
disqus_shortname=your-disqus-account, my is iovision
github_pages_repo=your github pages url, my is https://github.com/sunnycomes/sunnycomes.github.io
google_analytics_id=your analytics id, my is UA-43860851-1
baidu_analytics_id=your analytics id, my is 643ab8a87eb8e714b6b98c9341dea784

[sect_dir_src]
source_dir=src
build_dir=build
templates_dir=templates
static_resource_dir=static
global_resource_dir=resource

[sect_dir_content]
content_dir=content
posts_dir=posts
about_dir=about

[sect_server]
keys=local_ip,port
local_ip=127.0.0.1
port=9999
