* {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	line-height: 1.6em;
	font: 13px "Source Sans Pro", "stheiti", "microsoft yahei", sans-serif;
	background-image: url(https://dn-iovi.qbox.me/bg.jpg);
	background-attachment: fixed;
}

a {
	color: #41834C;
	text-decoration: none;
}

#content {
	margin: 2em auto;
	max-width: 90%;
}

#main, .footer {
	margin-left: 16%;
}

#header_index {
	float: left;
	margin-left: 10%;
	margin-top: 50px;
}

.site-nav {
	margin: 0px 0px 15px;
	font-size: 14px;
	text-align: right;
	font-weight: normal;
}

.site-nav a{
	color: rgb(100,100,100);
}

#blog_index {
	padding-top: 20px;
	width: 90%;
}

article, #pager_bar {
	background: rgba(255,255,255,1);
	-webkit-border-radius: 3px;
	-moz-border-radius:3px;
	border-radius:3px;
	margin: 0 0 1.625em;
	padding: 0 0 1.625em;
	box-shadow:0 0 10px rgba(200,200,200,0.8);
}

#pager_bar {
	height: 30px;
}

.article_wrapper {
	padding-top:20px;
	width: 90%;
}

.article_wrapper>.comment_allowed_false {
        display: none;
}

.article_wrapper>.comment_allowed_, .article_wrapper>.comment_allowed_true {
        width: 100%;
}

.entry-header {
	padding: 1.625em 7.6% 0px;
}

.entry-title, .entry-title a {
	color: #222;
	text-decoration: none;
	line-height: 1.5em;
    	font-family: "Lato", 'Xin Gothic', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'Helvetica Neue', "aria", sans-serif;
    	font-weight: 300;
}

.entry-title .cv {
        color:blue;
}

.entry-title a:hover {
	color:#2122AA;
}

.sep {
    display: inline-block;
}

.entry-meta {
    margin-top: 12px;
    color: #9f9f9f;
    font-size: 14px;
    height: 23px;
    line-height: 23px;
    margin-bottom: 10px;
}

.entry-content {
	padding: 1em 7.6% 5px;
	border-style: solid;
	border-color: #EEE;
	border-width: 0px 0px 1px;
}

.footer {
	clear: both;
}

.footer div {
	width: 90%;
}

.footer_links, .footer_powered_by {
	color: #666;
	font-size: 13px;
	line-height: 1.2em;
	padding: 0.6em 0.5em;
	text-align: center;
	font-family: "Lato", 'Xin Gothic', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'Helvetica Neue', "aria", sans-serif;
}

article p {
	margin: 0 0 12px 0;
	line-height: 2em;
	letter-spacing: 0.01em;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0.4em 0px;
	font-size: 0.7em;
}
article h1 {
	font-size: 1.5em;
}
article h2 {
	font-size: 1.4em;
}
article h3 {
	font-size: 1.3em;
}
article h4 {
	font-size: 1.2em;
}
article h5 {
	font-size: 1.0em;
}
article h6 {
	font-size: 1.0em;
}
article blockquote {
	margin: 1em 3em 1em 0em;
	padding: 0.5em 1em 0.2em 2em;
	border-left: 5px solid #fce27c;
	background-color: #e5ecf9;
}
article blockquote p{
	margin: 4px 0px;
}
article ul, article ol {
	margin: 10px 0 24px 12px;
}
article li {
	margin: 5px;
}
article img {
	text-align: center;
	margin: 0 auto;
	max-width: 570px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

article pre {
	margin: 10px 0px;
	font: 12px Monaco,monospace;
	overflow-x: auto;
	padding: 20px 37px;
	white-space: pre;
	word-wrap: normal;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background: #f8f8f8;
}

article>.entry-content>pre {
	box-shadow: inset 0 0 1px rgb(50,50,50);
}

article code {
	font-size: 13px;
	line-height: 1.8em;
	font-family: 'Monaco', 'monospace';
	color: #333;
}

p>code {
	padding: 3px 5px;
	border: 1px solid #ddd;
	word-wrap: normal;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	margin: 0px 3px;
	background-color: #F7F8F1;
}

strong {
	color: #333;
        font-size:1.1em;
}

.go {
	width:47px;
	height:106px;
	position:fixed;
	right:12px;
	bottom:50%;
	background-image:url("https://dn-iovi.qbox.me/tobg.png");
	background-repeat:no-repeat;
}

.go a {
	background:url("https://dn-iovi.qbox.me/a.png") no-repeat;
	display:block;
	text-indent:999em;
	width:37px;
	margin:5px;
	border:0;
	overflow:hidden;
	float:left;
	cursor:pointer;
}

.go .top {
	background-position:0 0px;
	height:22px
}

.go .feedback {
	background-position:0 -22px;
	height:32px
}

.go .bottom {
	background-position:0 -55px;
	height:22px
}

.go .top:hover {
	background-position:-38px -0px
}

.go .feedback:hover {
	background-position:-38px -22px
}

.go .bottom:hover {
	background-position:-38px -55px
}

#pager_bar a{
	margin: 20px 20px;
}

#prev_page {
	float: left;
}

#next_page {
	float: right;
}
