{% autoescape None %}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>{{ post["title"] }}</title>
                <meta name="description" content="{{ post['description']}}">
                <meta name="keyword" content="{{ post['keywords'] }}">
		<link rel="shortcut icon" href="/static/img/favicon.ico"/>
		<link rel="stylesheet" href="/static/style/style.css" type="text/css">
	</head>
	<body>
		<div id="content">
			{% include "nav.html" %}
			<div id="main">
				<div class="article_wrapper">
					<article>
						<div class="entry-header">
							<h1 class="entry-title">{{ post["title"] }}</h1>
						</div>

						<div class="entry-content">
							{{ post["content"] }}
						</div>

					</article>

                                        <div class="comment_allowed_{{ post['comment_allowed'] }}">
					        {{ snippets["disqus_snippet"]}}
                                        </div>

				</div>
			</div>

			{% include "footer.html" %}

		</div>

	</body>
</html>
