{% autoescape None %}
<footer class="footer">
	<div class="footer_links">
		Caijun Sun's friends：
                <a href="http://www.menglan-chen.com" target="_blank">陈沫沫 /</a>
		<a href="http://blog.csdn.net/u012176591" target="_blank">金良山庄 /</a>
		<a href="http://www.zhihu.com/people/mu-bing-70" target="_blank">木柄 /</a>
		<a href="http://www.zhengyangl.com/" target="_blank">zhengyangl</a>
	</div>
	<div class="footer_powered_by">
                <a href='{{params["url"]}}'>{{ params["title"] }}</a> powered by <a href='{{ params["url"] }}'>{{ params["author"] }}</a><br/>
                <a href='{{ params["url"] }}/sitemap.xml'> Find my Sitemap </a><br/>
                <a href="http://www.miitbeian.gov.cn/" target="_blank">京ICP备16021926号-1</a>
	</div>
</footer>

{{ snippets["site_analytics_snippet"]}}
{{ snippets["github_fork_snippet"]}}
{{ snippets["js_push_snippet"] }}
