{% autoescape None %}
<footer class="footer">
	<div class="footer_links">
		Sunnycomes的小伙伴们：
		<a href="http://www.ckecy.comk" target="blank">ckecy /</a>
		<a href="http://www.yimeijun.com" target="blank">艺美君 /</a>
		<a href="http://www.mubing01.cn" target="blank">木柄 /</a>
		<a href="http://www.guoziqing.com" target="blank">雪狼</a>
	</div>
	<div class="footer_powered_by">
					Powered by <a href='{{ params["url"] }}'>{{ params["author"] }}</a>
	</div>
</footer>

{{ snippets["google_analytics_snippet"]}}
{{ snippets["github_fork_snippet"]}}
