{% autoescape None %}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>{{ params["title"] }}</title>
		<link rel="shortcut icon" href="/static/img/favicon.ico"/>
		<link rel="stylesheet" href="/static/style/style.css" type="text/css">
		<script type="text/javascript" src="http://www.webdm.cn/themes/script/jquery.js"></script>
		<script type="text/javascript" src="/static/js/script.js"></script>
	</head>
	<body>
		<div id="content">
			<div class="go">
				<a title="Go Top" class="top"></a>
				<a title="Leave me feedback" class="feedback" href=mailto:sunnycomes@gmail.com target="_blank"></a>
				<a title="Go Bottom" class="bottom" ></a>
			</div>
			
			<header id="header_index">
				<hgroup>
					<h2 class="site-nav"><a href="/">Home</a></h2>
		            <h2 class="site-nav"><a href="/about">About</a></h2>
				</hgroup>
			</header>
			
			<div id="main">
				<div id="blog_index">
					{% for post in posts %}
					<article>
						<div class="entry-header">
							<h1 class="entry-title"><a href='/post/{{ post["post_name"] }}.html'>{{ post["title"] }}</a></h1>
							
							<div class="entry-meta">
								<span class="sep"><time>{{ post["date"] }}</time></span>
							</div>
						</div>
						
						<div class="entry-content">
							{{ post["content"] }}
						</div>
						
					</article>
					{% end %}
					<div id="pager_bar" class="entry-header">
						<a href="#" id="prev_page">Previous</a>
						<a href="#" id="next_page">Next</a>
					</div>
				</div>
			</div>
			
			{% include "footer.html" %}
			
		</div>
		
	</body>
</html>
