<header id="header_index">
	<hgroup>
		<h2 class="site-nav"><a href="/">HOME</a></h2>
		<h2 class="site-nav"><a href="/#">ALBUM</a></h2>
		<h2 class="site-nav"><a href="/#">BOOKS</a></h2>
		<h2 class="site-nav"><a href="/#">MOVIES</a></h2>
		<h2 class="site-nav"><a href="/about/index.html">ABOUT</a></h2>
	</hgroup>
</header>

<div class="go">
	<a title="Go Top" class="top"></a>
	<a title="Leave me feedback" class="feedback" href=mailto:sunnycomes@gmail.com target="_blank"></a>
	<a title="Go Bottom" class="bottom" ></a>
</div>
