<header id="header_index">
	<hgroup>
		<h2 class="site-nav"><a href="/">Home</a></h2>
		<h2 class="site-nav"><a href="/#">Movies</a></h2>
		<h2 class="site-nav"><a href="/#">Books</a></h2>
		<h2 class="site-nav"><a href="/#">Album</a></h2>
		<h2 class="site-nav"><a href="/about">About</a></h2>
	</hgroup>
</header>

<div class="go">
	<a title="Go Top" class="top"></a>
	<a title="Leave me feedback" class="feedback" href=mailto:sunnycomes@gmail.com target="_blank"></a>
	<a title="Go Bottom" class="bottom" ></a>
</div>