{% autoescape None %}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>{{ params["title"] }}</title>
		<link rel="shortcut icon" href="/static/img/favicon.ico"/>
		<link rel="stylesheet" href="/static/style/style.css" type="text/css">
	</head>
	<body>
		<div id="content">
			<header id="header_index">
				<hgroup>
					<h2 class="site-nav"><a href="/">首页</a></h2>
		            <h2 class="site-nav"><a href="/about">About</a></h2>
				</hgroup>
			</header>
			<div id="main">
				<div class="article_wrapper">
					<article>
						<div class="entry-header">
							<h1 class="entry-title">{{ post["title"] }}</h1>
							
							<div class="entry-meta">
								<span class="sep"><time>{{ post["date"] }}</time></a></span>
							</div>
						</div>
						
						<div class="entry-content">
							{{ post["content"] }}
						</div>
						
					</article>
					
					{% include "utils/disqus.html" %}
										
				</div>
			</div>
			
			{% include "footer.html" %}
			
		</div>
		
		{% include "utils/github_fork.html" %}
		
	</body>
</html>